table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 10px;
  background-color: navy;
  color: white;
}

tr {

  border-bottom: solid;
}

td {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}